!!!5
%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Cards
  %body
    %g:form{:controller => "card", :action => "save"}
      %label congratulation
      %br/
      %g:textArea{:name => "text", :value => "${card.card_text}"}/
      %br/
      %label signature
      %br/
      %g:textArea{:name => "sign", :value => "${card.card_sign}"}/
      %br/
      %g:actionSubmit{:value => "Save"}
