!!!5
%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Cards
  %body
    %g:each{:in => "${cards}", :status => "i", :var => "card"}
      %p
        № ${card.id}.
        Text: ${card.text}
        %br/
        Signature: ${card.sign}
      %br/
    %g:form{:controller => "card", :action => "save"}
      %label congratulation
      %br/
      %g:textArea{:name => "text"}/
      %br/
      %label signature
      %br/
      %g:textArea{:name => "sign"}/
      %br/
      %g:actionSubmit{:value => "Save"}
