!!!5
%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Ввод текста
    %script{:src => "/assets/backCard.js", :type => "text/javascript"}
  %body
    / Declare Variable
    - text = '  Введите текст поздравления (максимум 650 символов)'
    - sign = ' Подпишитесь, оставьте контактные данные (максимум 250 символов'
    .nav
      .container
        %ul
          %li
            .point
              .circle.active
                1
            .line.active
          %li
            .point
              .circle.active
                2
            .line.active
          %li
            .point
              .border
                .circle.active
                  3
            .line
            .point.last
              .circle
                4
    .mail-style
    .container.page
      %h1 Заполните обратную сторону
      %g:form.js-form{:controller => "card", :action => "save", :enctype => "multipart/form-data"}
        .card
          %g:textArea.text.js-text-validation{:name => "card_text", :value => "${session.currentCard.text}", :placeholder => "$text"}/
          %input.file.js-hide-file-input{:type => "file", :id => "logo",  :name => "logo", :value => "${session._logo}"}/
          .js-logo-presenter.file#js-logo-presenter
            %img.js-image-logo{:src => '/assets/little_image_site/plus_on_mail.png'}
            %h3 Загрузите логотип
          %g:textArea.sign.js-sign-validation{:name => "card_sign", :value => "${session.currentCard.sign}", :placeholder => "$sign"}/
        .footer
          %g:link.button.button-prev{:controller =>"envelope", :action=>"index"} На шаг назад
          %a.button.button-next.js-submit Далее
          %span.error-text.js-error