!!!5
%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Ввод текста
  %body
    / Declare Variable
    - text = 'Введите текст сообщения'
    - sign = 'Подпишитесь, оставьте контактные данные'
    .nav
      .container
        %ul
          %li
            .point
              .circle.active
                1
            .line.active
            %span.active-text Выберите открытку
          %li
            .point
              .circle.active
                2
            .line.active
            %span.active-text.centred Введите адрес
          %li
            .point
              .border
                .circle.active
                  3
            .line
            %span.active-text.centred Заполните обратную сторону
            .point.last
              .circle
                4
            %span.last Проверьте
    .container.page
      %h1 3. Заполните обратную сторону
      %g:form.js-form{:controller => "card", :action => "save", :enctype => "multipart/form-data"}
        .card
          %g:textArea.text{:name => "card_text", :value => "${session.currentCard.text}", :placeholder => "$text"}/
          %input.file{:type => "file", :id => "logo",  :name => "logo", :value => "${session._logo}"}/
          %g:textArea.sign{:name => "card_sign", :value => "${session.currentCard.sign}", :placeholder => "$sign"}/
        .footer
          %g:link.button.button-prev{:controller =>"envelope", :action=>"index"} На шаг назад
          %a.button.button-next.js-submit Далее
          %span.error-text.js-error
