%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title Отправлено
    %meta{:content => "main", :name => "layout"}

  %body
    / Declare variable
    - pass = 'пароль'
    - mail = 'mail'
    - send_reg = 'отправить'
    .container
      .content_block
        #send_message
          %h1.head-main Ваша открытка будет доставлена в течении недели
        .send_logo
          %img{:id => 'picture_send_logo', :src => '/CardsProject/assets/send_step/airoplane.jpg'}
        .subscribe_block
        .footer
          %g:link.button.button-prev{:action => "toMainPage"} В начало
          %g:link.button.button-next{:action => "toMainPage"} Создать еще открытку