%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title Отправлено
    %meta{:content => "main", :name => "layout"}
  %body
    / Declare variable
    - pass = 'пароль'
    - mail = 'mail'
    - send_reg = 'отправить'
    .cheat-for-header
    .mail-style
    .page
      .head-main Ваша открытка будет доставлена в течении недели!
      .send_logo
        %img{:id => 'picture_send_logo', :src => '/assets/send_step/airoplane.jpg'}
      .subscribe_block
      .footer
        .container
          /
            %g:link.size-subscribe.button-subscribe{:action => "toMainPage"} Поделиться
            %g:link.size-subscribe-little.button-subscribe{:action => "toMainPage"} f
          %g:link.send-step-button.button-prev{:action => "toStartPage"} Вернуться на главную
          %g:link.send-step-button.button-next{:action => "toPicturesListPage"} Создать еще открытку
      .container-cloud
        %img.left-cloud{:src => "/assets/little_image_site/left_cloud.png"}
        %img.right-cloud{:src => "/assets/little_image_site/right_cloud.png"}

