%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title Добро пожаловать
    %meta{:content => "main", :name => "layout"}
    %script{:src => "/assets/startPage.js", :type => "text/javascript"}
  %body
    / Declare variable
    - pass = 'пароль'
    - mail = 'mail'
    - send_reg = 'отправить'
    .cheat-for-header
    .mail-style
    .page
      .head-main Спасибо за заявку! Наш менеджер свяжется с вами.
      .send_logo
        %img{:id => 'picture_send_logo', :src => '/assets/send_step/samolet.png'}
      .subscribe_block
      .footer
        .container
          %g:link.main-page-test-button{:action => "index"} Вернуться на главную
      .container-cloud
        %img.left-cloud{:src => "/assets/little_image_site/left_cloud.png"}
        %img.right-cloud{:src => "/assets/little_image_site/right_cloud.png"}