!!!
%html
  %head
    %title Добро пожаловать
    %meta{:content => "header", :name => "layout"}
  %body
    .container-top-landing
      .container
        %ul
          %li.feature-block
          %li.feature-block
          %li.feature-block
    .container-form-landing
    .container-bottom-landing
