!!!
%html
  %head
    %title Добро пожаловать
    %meta{:content => "header", :name => "layout"}
  %body
    / Declare Variable
    - name = 'Ваше имя'
    - phone = 'Ваш телефон'
    - email = 'Ваш e-mail'
    .container-top-landing
      .container
        %ul.list-height
          %li.feature-block
            %img{:src => '/assets/StartPage/Ikon_medal.png'}
            %p Не знаете, как лучше пригласить важных персон на событие?
            %p.blue-text Создайте эксклюзивное приглашение, заказав у нас индивидуальный дизайн и курьерскую доставку.
          %li.feature-block
            %img{:src => '/assets/StartPage/Ikon_love.png'}
            %p Думаете, как поздравить бизнес — партнёров с праздником?
            %p.blue-text Красивая печатная открытка - это простой способ передать человеку, что он значит для Вас.
          %li.feature-block
            %img{:src => '/assets/StartPage/Ikon_letter.png'}
            %p Нет времени <br/> повысить лояльность клиентов?
            %p.blue-text Мы сделаем это, пока Вы занимаетесь бизнесом. Создадим и отправим открытку или приглашение.
    .container-form-landing
      .container
        %h1 Оставьте заявку и наш менеджер свяжется с вами
        %g:form.request-form.js-request-form{:controller => "requester", :action => "saveFromStart"}
          %fieldset
            %legend 1. Что Вы хотели бы создать?
            .radio-block
              %g:radio.radio-style.js-group-radio-1{:name => "whatSendRadio", :type => "radio" :cheked => "checked",
                             :value => "Cards", :id => "Cards"}/
              %label{:for => "Cards"} <span></span>  Открытки
              %g:radio.radio-style.js-group-radio-1{:name => "whatSendRadio", :type => "radio" :cheked => "checked",
               :value => "Cards", :id => "Cards"}/
              %g:radio.radio-style.js-group-radio-1{:name => "whatSendRadio", :type => "radio" :cheked => "checked",
               :value => "Invites", :id => "Invites"}/
              %label{:for => "Invites"} <span></span>  Приглашения
            %legend 2. Они будут персональные?
            .radio-block
              %g:radio.radio-style.js-group-radio-2.double-line-radioStyle{:name => "personalSendRadio",
               :type => "radio" :cheked => "checked", :value => "Nominal", :id => "Nominal"}/
              %label{:for => "Nominal"} <span></span> Да на них будут указаны конкретные ФИО человека
              %g:radio.radio-style.js-group-radio-2{:name => "personalSendRadio", :type => "radio" :cheked => "checked",
               :value => "Noname", :id => "Noname"}/
              %label{:for => "Noname"} <span></span> Нет они будут безымянные
            %legend 3. Какой способ доставки Вам необходим?
            .radio-block
              %g:radio.radio-style.double-line-radioStyle.js-group-radio-3{:name => "methodOfDeliveryRadio",
               :type => "radio" :cheked => "checked", :value => "Personal", :id => "Personal"}/
              %label{:for => "Personal"} <span></span> Курьером по конкретным адресам и определенным людям
              %g:radio.radio-style.double-line-radioStyle.js-group-radio-3{:name => "methodOfDeliveryRadio",
               :type => "radio" :cheked => "checked", :value => "Spam", :id => "Spam"}/
              %label{:for => "Spam"} <span></span> Безадресное распространение для определенной целевой аудитории
          %fieldset
            %legend Ваше имя
            %g:textField.input-size-big.input-view-no-border{:name => "request_name", :placeholder => "$name"}/
            %legend Ваш телефон
            %g:textField.input-size-big.input-view-no-border.js-half-obligatory-field{:name => "request_phone",
             :placeholder => "$phone"}/
            %legend Ваш e-mail
            %g:textField.input-size-big.input-view-no-border.js-half-obligatory-field{:name => "request_email",
             :placeholder => "$email"}/
            %legend Нужно заполнить одно из полей или оба "Ваш телефон" и "Ваш e-mail"
            %g:link.big-orange-button.js-submit-request-form Отправить заявку
            %input.js-hide-session-info-input{:type => "text", :value => "${session.start_memory_form}"}/
    .container-bottom-landing
      .container
        %ul
          %li.action-block
            %p Если Вы хотите отправить одну открытку конкретному адресату, то воспользуйтесь сервисом BestReCards и сделайте это за несколько шагов
            %g:link.blue-little-button{:controller => 'picturesList', :action => 'index'} Создать открытку
            %img{:src => '/assets/StartPage/Ikon_fly.png'}
          %li.action-block
            %p Скоро будут добавлены новые функции! Подпишитесь и узнайте о новинках и акциях первыми!
            %g:textField.input-size-medium.input-view{:name => "subscribeEmail", :placeholder => "E-mail",
             :onkeydown => "javascript:if(13==event.keyCode){return false;}"}/
            %img{:src => '/assets/StartPage/Ikon_vsklznaki.png'}
            %A.blue-little-button.js-submit-send-email{:controller => 'subscribe', :action => 'saveEmail'}  Подписаться
