%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title Добро пожаловать
    %meta{:content => "main", :name => "layout"}
    %script{:src => "/assets/startPage.js", :type => "text/javascript"}
  %body
    .cheat-for-header
    .mail-style
