!!!5
%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Личный кабинет
    %script{:src => "js/userInfo.js", :type => "text/javascript"}
  %body
    %span.js-user-info Личные данные
    %span.js-user-cards История заказов