%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Ввод адреса
  %body
    / Declare Variable
    - name = 'Ф.И.О'
    - post = 'Должность'
    - company = 'Компания'
    - city = 'Город'
    - street = 'Улица'
    - house = 'Дом'
    - housing = 'Корпус'
    - office = 'Офис'
    - postcode = 'Индекс'
    - next = 'Далее'
    - prev = 'Назад'
    .nav
      .container
        %ul
          %li
            .point
              .circle.active
                1
            .line.active
            %span.active-text Выбор открытки
          %li
            .point
              .border
                .circle.active
                  2
            .line
            %span.active-text.centred Ввод адреса
          %li
            .point
              .circle
                3
            .line
            %span.centred Ввод текста и подписи
            .point.last
              .circle
                4
            %span.last Подтверждение заказа
    .container.page
      %h1 2. Ввод адреса
      %h3 Информация будет указана на конверте
      %g:form{:controller => "envelope", :action => "save"}
        .sender.address-form
          %h2 Данные получателя
          %g:textField{:name => "sender_name", :placeholder => "$name", :value => "${en_date.sender_name}"}/
          %g:textField{:name => "sender_post", :placeholder =>"$post", :value => "${en_date.sender_post}"}/
          %g:textField{:name => "sender_company", :placeholder =>"$company", :value => "${en_date.sender_company}"}/
          %br/
          %g:textField{:name => "sender_city", :placeholder =>"$city", :value => "${en_date.sender_city}"}/
          %g:textField{:name => "sender_street", :placeholder =>"$street", :value => "${en_date.sender_street}"}/
          %g:textField{:name => "sender_house", :placeholder =>"$house", :value => "${en_date.sender_house}"}/
          %g:textField{:name => "sender_housing", :placeholder =>"$housing", :value => "${en_date.sender_housing}"}/
          %g:textField{:name => "sender_office", :placeholder =>"$office", :value => "${en_date.sender_office}"}/
          %g:textField{:name => "sender_postcode", :placeholder =>"$postcode", :value => "${en_date.sender_postcode}"}/
          %a{:href => "http://www.russianpost.ru/PostOfficeFindInterface/default10.aspx", :target => "_blank"} Уточнить индекс
        .receiver.address-form
          %h2 Данные отправителя
          %g:textField{:name => "receiver_name", :placeholder => "$name", :value => "${en_date.receiver_name}"}/
          %g:textField{:name => "receiver_post", :placeholder =>"$post", :value => "${en_date.receiver_post}"}/
          %g:textField{:name => "receiver_company", :placeholder =>"$company", :value => "${en_date.receiver_company}"}/
          %br/
          %g:textField{:name => "receiver_city", :placeholder =>"$city", :value => "${en_date.receiver_city}"}/
          %g:textField{:name => "receiver_street", :placeholder =>"$street", :value => "${en_date.receiver_street}"}/
          %g:textField{:name => "receiver_house", :placeholder =>"$house", :value => "${en_date.receiver_house}"}/
          %g:textField{:name => "receiver_housing", :placeholder =>"$housing", :value => "${en_date.receiver_housing}"}/
          %g:textField{:name => "receiver_office", :placeholder =>"$office", :value => "${en_date.receiver_office}"}/
          %g:textField{:name => "receiver_postcode", :placeholder =>"$postcode", :value => "${en_date.receiver_postcode}"}/
          %a{:href => "http://www.russianpost.ru/PostOfficeFindInterface/default10.aspx", :target => "_blank"} Уточнить индекс
        .footer
          .container
            %g:link.button.button-prev{:controller =>"picturesList", :action=>"index"} Назад
            %g:actionSubmit.button.button-next{:action => "save", :value => "Дaлее"}
