%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Ввод адреса
  %body
    / Declare Variable
    - name = 'Ф.И.О'
    - post = 'Должность'
    - company = 'Компания'
    - city = 'Город'
    - street = 'Улица'
    - house = 'Дом'
    - housing = 'Корпус'
    - office = 'Офис'
    - postcode = 'Индекс'
    - next = 'Далее'
    - prev = 'Назад'
    .nav
      .container
        %ul
          %li
            .point
              .circle.active
                1
            .line.active
            %span.active-text Выберите открытку
          %li
            .point
              .border
                .circle.active
                  2
            .line
            %span.active-text.centred Введите адрес
          %li
            .point
              .circle
                3
            .line
            %span.centred Заполните обратную сторону
            .point.last
              .circle
                4
            %span.last Проверьте
    .container.page
      %h1 2. Введите адрес
      %h3 Адрес будет указан на конверте
      %g:form.js-form{:controller => "envelope", :action => "save"}
        .sender.address-form
          %h2 Данные отправителя
          %g:textField.name.wide-input{:name => "sender_name", :placeholder => "$name", :value => "${session.companySender.sender.name}"}/
          %g:textField.post.wide-input{:name => "sender_post", :placeholder =>"$post", :value => "${session.companySender.sender.post}"}/
          %g:textField.company.wide-input{:name => "sender_company", :placeholder =>"$company", :value => "${session.companySender.name}"}/
          %br/
          %g:textField.city.wide-input{:name => "sender_city", :placeholder =>"$city", :value => "${session.companySender.address.city}"}/
          %g:textField.street.wide-input{:name => "sender_street", :placeholder =>"$street", :value => "${session.companySender.address.street}"}/
          %g:textField.house.small-input{:name => "sender_house", :placeholder =>"$house", :value => "${session.companySender.address.house}"}/
          %g:textField.housing.small-input{:name => "sender_housing", :placeholder =>"$housing", :value => "${session.companySender.address.housing}"}/
          %g:textField.office.small-input{:name => "sender_office", :placeholder =>"$office", :value => "${session.companySender.address.office}"}/
          %g:textField.postcode{:name => "sender_postcode", :placeholder =>"$postcode", :value => "${session.companySender.address.postcode}"}/
          %a{:href => "http://www.russianpost.ru/PostOfficeFindInterface/default10.aspx", :target => "_blank"} Уточнить индекс
        .receiver.address-form
          %h2 Данные получателя
          %g:textField.name.wide-input{:name => "receiver_name", :placeholder => "$name", :value => "${session.companyReceiver.receiver.name}"}/
          %g:textField.post.wide-input{:name => "receiver_post", :placeholder =>"$post", :value => "${session.companyReceiver.receiver.post}"}/
          %g:textField.company.wide-input{:name => "receiver_company", :placeholder =>"$company", :value => "${session.companyReceiver.name}"}/
          %br/
          %g:textField.city.wide-input{:name => "receiver_city", :placeholder =>"$city", :value => "${session.companyReceiver.address.city}"}/
          %g:textField.street.wide-input{:name => "receiver_street", :placeholder =>"$street", :value => "${session.companyReceiver.address.street}"}/
          %g:textField.house.small-input{:name => "receiver_house", :placeholder =>"$house", :value => "${session.companyReceiver.address.house}"}/
          %g:textField.housing.small-input{:name => "receiver_housing", :placeholder =>"$housing", :value => "${session.companyReceiver.address.housing}"}/
          %g:textField.office.small-input{:name => "receiver_office", :placeholder =>"$office", :value => "${session.companyReceiver.address.office}"}/
          %g:textField.postcode{:name => "receiver_postcode", :placeholder =>"$postcode", :value => "${session.companyReceiver.address.postcode}"}/
          %a{:href => "http://www.russianpost.ru/PostOfficeFindInterface/default10.aspx", :target => "_blank"} Уточнить индекс
        .footer
          .container
            %g:link.button.button-prev{:controller =>"picturesList", :action=>"index"} На шаг назад
            %a.button.button-next.js-submit Дaлее
            %span.error-text.js-error
