%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Предпросмотр
  %body
    .nav
      .container
        %ul
          %li
            .point
              .circle.active
                1
            .line.active
            %span.active-text Выбор открытки
          %li
            .point
              .circle.active
                2
            .line.active
            %span.active-text.centred Ввод адреса
          %li
            .point
              .circle.active
                3
            .line.active.final
            %span.active-text.centred Ввод текста и подписи
            .point.last
              .border
                .circle.active
                  4
            %span.last.active-text Подтверждение заказа
    .container.page.preview
      %h1 4. Подтверждение заказа
      .card-preview.card-face
        %h2 Лицевая сторона
        .card-view
          %img{:src => "${session._picture}"}
      .card-preview.card-back
        %h2 Обратная сторона
        .card-view.card
          .text ${session.card_data.card_text}
          .file
            %img{:src => "${session._logo}", :width => "125"}
          .sign ${session.card_data.card_sign}
        %span Печать на гофрированной бумаге в три слоя,
        %Span заботливо поглаженное на прощание
      .footer
        %g:link.button.button-prev{:controller =>"card", :action=>"index"} Назад
        %g:link.button.button-next{:controller =>"send_step", :action=>"index"} Все правильно. Отправить
    /
      .envelope
        %h2 Конверт с указанием адресов
        .envelop-view
          .sender
            .name
              От кого
              %span.underlined
              ${session.envelope_data.sender_name}
            .address
              От куда
              %span.city.underlined
                город ${session.envelope_data.sender_city}
              %span.street.underlined
                улица ${session.envelope_data.sender_street}
              %span.house.underlined
                дом ${session.envelope_data.sender_house}, корпус ${session.envelope_data.sender_housing},
                офис ${session.envelope_data.sender_office}
            .postcode
              ${session.envelope_data.sender_postcode}
          .receiver
            .name
              Кому
              %span.underlined
              ${session.envelope_data.receiver_name}
            .address
              Куда
              %span.city.underlined
                город ${session.envelope_data.receiver_city}
              %span.street.underlined
                улица ${session.envelope_data.receiver_street}
              %span.house.underlined
                дом ${session.envelope_data.receiver_house}, корпус ${session.envelope_data.receiver_housing},
                офис ${session.envelope_data.receiver_office}
            .postcode
              ${session.envelope_data.receiver_postcode}
          .postcode-main
            %h1 ${session.envelope_data.receiver_postcode}
