%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Предпросмотр
    %script{:src => "/CardsProject/assets/popup_registration.js", :type => "text/javascript"}
  %body
    .nav
      .container
        %ul
          %li
            .point
              .circle.active
                1
            .line.active
            %span.active-text Выбор открытки
          %li
            .point
              .circle.active
                2
            .line.active
            %span.active-text.centred Ввод адреса
          %li
            .point
              .circle.active
                3
            .line.active.final
            %span.active-text.centred Ввод текста и подписи
            .point.last
              .border
                .circle.active
                  4
            %span.last.active-text Подтверждение заказа
    .container.page.preview
      %h1 4. Подтверждение заказа
      .card-preview.card-face
        %h2 Лицевая сторона
        .card-view
          %img{:src => "${session._picture}"}
      .card-preview.card-back
        %h2 Обратная сторона
        .card-view.card
          .text ${session.currentCard.text}
          .file
            %img{:src => "${session._logo}", :width => "125"}
          .sign ${session.currentCard.sign}
        %span Печать на гофрированной бумаге в три слоя,
        %Span заботливо поглаженное на прощание
      .footer
        %g:link.button.button-prev{:controller =>"card", :action=>"index"} Назад
        %button{:id =>'registration_button', :name => 'registration_button', :value => 'registration_button'}
          отправить
    .popup_block{:id => 'popup_block'}
      .popup_content{:id => 'popup_content'}
        .exit_sign
          %img
        %h2 Регистрация
        %h3 Вам не нужно будет повторно вводить данные, в следующий, раз все будет уже сохранено!
        .mailError
          %h3
        %input{:id => 'mail', :type => 'text', :placeholder => "Ваш e-mail"}
        .passError
          %h3
        %input{:id => 'pass', :type => 'password', :placeholder => "Пароль"}
        %button{:id =>'send_reg_button', :name => 'send_reg_button', :value => 'send_reg_button'}
          Регистрация

    /
      .envelope
        %h2 Конверт с указанием адресов
        .envelop-view
          .sender
            .name
              От кого
              %span.underlined
              ${session.companySender.sender.name}
            .address
              От куда
              %span.city.underlined
                город ${session.companySender.address.city}
              %span.street.underlined
                улица ${session.companySender.address.street}
              %span.house.underlined
                дом ${session.companySender.address.house}, корпус ${session.companySender.address.housing},
                офис ${session.companySender.address.office}
            .postcode
              ${session.companySender.address.postcode}
          .receiver
            .name
              Кому
              %span.underlined
              ${session.companyReceiver.receiver.name}
            .address
              Куда
              %span.city.underlined
                город ${session.companyReceiver.address.city}
              %span.street.underlined
                улица ${session.companyReceiver.address.street}
              %span.house.underlined
                дом ${session.companyReceiver.address.house}, корпус ${session.companyReceiver.address.housing},
                офис ${session.companyReceiver.address.office}
            .postcode
              ${session.companyReceiver.address.postcode}
          .postcode-main
            %h1 ${session.companyReceiver.address.postcode}
