%html
  %head
    %meta{:content => "main", :name => "layout"}/
    %title Предпросмотр
    %script{:src => "/CardsProject/assets/popup_registration.js", :type => "text/javascript"}
    %script{:src => "/CardsProject/assets/preview.js", :type => "text/javascript"}
  %body
    .nav
      .container
        %ul
          %li
            .point
              .circle.active
                1
            .line.active
          %li
            .point
              .circle.active
                2
            .line.active
          %li
            .point
              .circle.active
                3
            .line.active.final
            .point.last
              .border
                .circle.active
                  4
    .mail-style
    .container.page.preview
      %h1 Проверьте, все ли правильно?
      .choose-block
        %h5 Лицевая сторона
        .choose-picture.js-choose-picture
          %img{:src => "${session._picture}"}
        %h5 Обратная сторона
        .choose-picture.js-choose-back-picture
          %img{:src => '/CardsProject/assets/send_step/demo_sender.png'}
        %h5 Конверт
        .choose-picture.js-choose-sender
          %img{:src => '/CardsProject/assets/send_step/demo_my_words.png'}
      .big-preview
        .big-picture
          %h4 Лицевая сторона
          %img{:src => "${session._picture}"}
        .big-back-picture
          %h4 Обратная сторона
          .big-back-picture-structure
        .big-destination-card
          %h4 Конверт
          .big-destination-card-structure
      .card-preview.card-face
        %h2 Лицевая сторона
        .card-view
          %img{:src => "${session._picture}"}
      .card-preview.card-back
        %h2 Обратная сторона
        .card-view.card
          .text ${session.currentCard.text}
          .file
            %img{:src => "../${session._logo}", :width => "125"}
          .sign ${session.currentCard.sign}
        %span Печать на гофрированной бумаге в три слоя,
        %Span заботливо поглажена на прощание
      .footer
        .container
          %g:link.button.button-prev{:controller =>"card", :action=>"index"} На шаг назад
          %button.button.button-next{:id =>'registration_button', :name => 'registration_button', :value => 'registration_button'}
            Готово
    .popup_block{:id => 'popup_block'}
      .popup_content{:id => 'popup_content'}
        .popup-style-top
        .exit_sign
          %img
        %h2 Регистрация
        %h3 Вам не нужно будет повторно вводить данные, в следующий, раз все будет уже сохранено!
        .mailError
          %h3
        %input{:id => 'mail', :type => 'text', :placeholder => "Ваш e-mail", :class => 'js-input-email'}
        .passError
          %h3
        %input{:id => 'pass', :type => 'password', :placeholder => "Пароль", :class => 'js-input-password'}
        %button{:id =>'send_reg_button', :name => 'send_reg_button', :value => 'send_reg_button'}
          Регистрация
        .popup-style-down
    .popup_block_alert{:id => 'popup_block_alert'}
      .popup_content_alert{:id => 'popup_content_alert'}
        .popup-style-top
        .exit_sign-alert
          %img
        %h2 Вы уверены?
        %h3 Ваши данные не будут сохранены, а открытка не дойдет до адресата
        %button{:id =>'want_send_button', :name => 'want_send_button', :value => 'want_send_button'}
          Нет, я хочу отправить открытку
        %button{:id =>'didnt_want_send_button', :name => 'didnt_want_send_button', :value => 'didnt_want_send_button'}
          Да я уверен
        .popup-style-down
    /
      .envelope
        %h2 Конверт с указанием адресов
        .envelop-view
          .sender
            .name
              От кого
              %span.underlined
              ${session.companySender.sender.name}
            .address
              От куда
              %span.city.underlined
                город ${session.companySender.address.city}
              %span.street.underlined
                улица ${session.companySender.address.street}
              %span.house.underlined
                дом ${session.companySender.address.house}, корпус ${session.companySender.address.housing},
                офис ${session.companySender.address.office}
            .postcode
              ${session.companySender.address.postcode}
          .receiver
            .name
              Кому
              %span.underlined
              ${session.companyReceiver.receiver.name}
            .address
              Куда
              %span.city.underlined
                город ${session.companyReceiver.address.city}
              %span.street.underlined
                улица ${session.companyReceiver.address.street}
              %span.house.underlined
                дом ${session.companyReceiver.address.house}, корпус ${session.companyReceiver.address.housing},
                офис ${session.companyReceiver.address.office}
            .postcode
              ${session.companyReceiver.address.postcode}
          .postcode-main
            %h1 ${session.companyReceiver.address.postcode}
