.address-form {
  width: 45%;
//  position: absolute;
  display: inline-block;
  a {
   font-family: PT_Sans_Italic;
   color: #696969;
  }
  .footer {
    position: relative;
  }
}
input[type=text] {
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 3px;
  border-size: 2px;
}
.container .page h1
{
  margin-bottom: 3px;
}
.wide-input {
  width: 400px;
}
.small-input {
  width: 115px;
  height: 50px;
}
.sender_words {
  font-size: 25px;
  margin-left: 0px;
  margin-bottom: 20px;
}
input {
  width: 200px;
}

.sender {
  left: 0;
  margin-left: 4%;
  margin-right: 0%;
}
.receiver {
  right: 0;
//  margin-right: 5%;
}


.name
{
  margin-bottom:13px;
  border: none;
  //color: #646464;
}
.post
{
  margin-bottom: 13px;
  border: none;
  //color: #646464;
}
.company
{
  margin-bottom: 35px;
  border: none;
  //color: #646464;
}
.city
{
  margin-bottom: 13px;
  border: none;
  //color: #646464;
}
.street
{
  margin-bottom: 13px;
  border: none;
  //color: #646464;
}
.house
{
  margin-bottom: 13px;
  margin-right: 10px;
  border: none;
  //color: #646464;
}
.housing
{
  margin-bottom: 13px;
  margin-right: 10px;
  border: none;
  //color: #646464;
}
.office
{
  margin-bottom: 13px;
  margin-right: 0px;
  border: none;
  //color: #646464;
}
.postcode
{
  margin-bottom: 13px;
  margin-right:76px;
  border: none;
  //color: #646464;
}

.empty-field {
  border: 2px solid #ff0000 !important;
}
.error-text {
  color: #ff0000;
}