.address-form {
  width: 49%;
//  position: absolute;
  display: inline-block;
  a {
   font-family: PT_Sans_Italic;
   color: #696969;
  }
  .footer {
    position: relative;
  }
}
.sender {
  left: 0;
}
.receiver {
  right: 0;
}

#sender_name
{
  width: 400px;
  height: 20px;
  margin-bottom:8px;
  margin-left: 25px;
  background-color: #e0e0e0;
  border: none;
 // color: #646464;
}
#sender_post
{
  width: 400px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
  background-color: #e0e0e0;
  border: none;
 // color: #646464;

}
#sender_company
{
  width: 400px;
  height: 20px;
  margin-bottom: 30px;
  margin-left: 25px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#sender_city
{
  width: 400px;
  height: 20px;
  margin-bottom: 8px;
  margin-left: 25px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#sender_street
{
  width: 400px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#sender_house
{
  width: 115px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 25px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#sender_housing
{
  width: 119px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#sender_office
{
  width: 119px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#sender_postcode
{
  width: 200px;
  height: 20px;
  margin-bottom: 10px;
  margin-right:76px;
  margin-left: 25px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}




#receiver_name
{
  width: 400px;
  height: 20px;
  margin-bottom:8px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_post
{
  width: 400px;
  height: 20px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_company
{
  width: 400px;
  height: 20px;
  margin-bottom: 30px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_city
{
  width: 400px;
  height: 20px;
  margin-bottom: 8px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_street
{
  width: 400px;
  height: 20px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_house
{
  width: 115px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_housing
{
  width: 119px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_office
{
  width: 119px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}
#receiver_postcode
{
  width: 200px;
  height: 20px;
  margin-bottom: 10px;
  margin-right:76px;
  background-color: #e0e0e0;
  border: none;
  //color: #646464;
}

.empty-field {
  border: 1px solid #ff0000 !important;
}
.error-text {
  color: #ff0000;
}