.text-input {
  color: #696969;
  font-family: PT_Sans_Regular;
  font-size: 25px;
}
.card {
  background-color: #696969;
  height: 400px;
  padding: 20px;
  .text {
    width: 99%;
    height: 70%;
    margin-bottom: 5px;
    resize: none;
    background-color: #ececec;
    .text-input
  }
  .sign {
    width: 79%;
    height: 24%;
    margin-left: 20%;
    resize: none;
    display: inline-block;
    background-color: #ececec;
    .text-input
  }
  .file {
    width: 18%;
    height: 18.9%;
//    display: inline-block;
    position: absolute;
    background-color: #ececec;
    font-family: PT_Sans_Regular;
  }

}