html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***************************************** gloabal ******************************/
/*%html {*/
     /*font-size: 75%;*/
 /*}*/
p {
    color: #313131;
    margin: 0.5em 0.5em 0.5em 1em;
    font-weight: normal;
    line-height: 1.31em;
}
h1 {
    color: #ffffff;
    /*margin: 1em 1em 1em 1em;*/
    /*padding: 1em 1em 1em 1em;*/
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: normal;
    line-height: 1.31em;
    word-spacing: 4px;
    font-size: 1.5em;
    font-family: Nautilus;
    text-align: center;
}
.blue-text {
    color: #1296ff;
}
ul {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.list-height {
    height: 400px;
}
li {
    opacity: 0.95;
    background: #ffffff;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
    text-align: left;
}
.input-size-medium {
    height: 30px;
    padding-left: 10px;
    font-size: 1em;
    border-radius: 3px;
    width: 70%;
}
.input-size-big {
    height: 35px;
    padding-left: 10px;
    font-size: 1em;
    border-radius: 6px;
    width: 85%;
}
.input-view-no-border {
    border: 2px solid #ffffff;
}
.input-view-no-border:focus {
    outline: none;
}
.input-view {
    background-color: #ffffff;
    border: 2px  solid  #b3b3b3;
    border-radius: 3px;
    outline:none;
}
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
    min-width: 750px;
    height: 100%;
    font-family: PT_Sans_Regular;
}
/******************************************* Header styles *******************************/
header {
    background-color: #313131;
    padding: 7px 7px 32px 7px;
}

header h1 {
    text-align: right;
    float: right;
    font: normal 1.3em PT_Sans_Regular;
    color: white;
    margin-top: -48px;
}
.header-style {
    background-image: url("/assets/little_image_site/black_thing.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 9px;
    position: relative;
    z-index:99;
}


/************************************** Top part *******************************/

.container-top-landing {
    background-image: url("/assets/StartPage/fon_verh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    height: 400px;
    max-height: 905px;
}
li.feature-block {
    width: 26.5%;
    margin: 70px 0% 40px 3%;
    height: 260px;
    /*padding: 10px 10px 10% 10%;*/
}
li.feature-block:first-child {
    margin-left: 7%;
}
li.feature-block img {
    height: 23%;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 80%;
    margin-bottom: 1%;
}
li.feature-block p{
    height: 47%;
}
/************************************** request form ***********************************/

.container-form-landing {
    background-color: #1296ff;
    height: 460px;
}
.request-form {
    color: white;
}
fieldset {
    width: 47%;
    float: left;
    margin-left: 2%;
}
legend {
    font-weight: 900;
    margin-bottom: 12px;
    margin-top: 12px;
    width: 87%;
}
.radio-block {
    margin-bottom: 30px;
}
/*label p {
    color: #ffffff;
    margin: 0;
    padding: 0;

}*/
/*radio bittons styles*/
.radio-block label {
    display: block;
    margin-bottom: 0.5em;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:22px;
    height:22px;
    margin:0px 4px 0 0;
    vertical-align:middle;
    background:url("/assets/StartPage/checkbox.png") 0px bottom no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url("/assets/StartPage/checkbox.png") left no-repeat;
    background-position: 0 2px;
}
/*end of radio bittons styles*/

.js-hide-session-info-input {
    display: none;
}
/************************************ Bottom part ****************************/

.container-bottom-landing {
    background-image: url("/assets/StartPage/fon_niz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 3;
    height: 268px;
}
.action-block {
    display: inline-block;
    width: 43%;
    padding: 1.5% 2.3% 3% 2.3%;
    margin: 20px 0% 0 1.5%;
    height: 140px;
    /*position: relative;*/
}
.action-block:first-child p{
    height: 56%;
}
.action-block:nth-child(2) p{
    height: 40%;
}
.action-block img {
    float:right;
}
.action-block:nth-child(2) img {
    margin-top: 40px;
}
.action-block .blue-little-button{
    float:left;
}
.action-block:first-child .blue-little-button{
    margin-top: 17px;
}
.action-block input[type=text]{
    margin-left: 15px;
    margin-bottom: 1%;
}

/********************************** footer ********************************/

footer {
    height: 30px;
    background-color: #313131;
    width: 100%;
    padding-top: 0.8em;
    text-align: right;
    font:normal 300 0.85em Arial;
}
footer p {
    color: white;
    display: inline-block;
}
footer a {
    color: #ffa112;
    text-decoration: none;
    font-style: normal;
}

/********************************* buttons *********************************/

.blue-little-button {
    padding: 13px 3.1% 13px 3.1%;
    width: 40%;
    text-align: center;
    color: white;
    background-color: #1296ff;
    border-style: solid;
    border-radius: 3px;
    border-color: #1296ff;
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
}
.blue-little-button:hover {
    color: #1296ff;
    background-color: white;
}
.big-orange-button {
    color: white;
    width: 88%;
    float: left;
    height: 1.5em;
    background-color: #ffa112;
    border: none;
    padding-top: 0.5em;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
}
.test-orange-button {
    background-color: #ffa112;
    width: 90%;
    height: 2em;
}
.test-orange-button:hover,
.big-orange-button:hover {
    color:  #ffa112;
    background-color: #ffffff;
    cursor: pointer;

}