
.page {
  .change-card-header {
    margin-bottom: 30px                                                                                             ;
  }
  .change-block {
    display: inline-block;
    width: 39%;
    height: 342px;
    vertical-align: top;
//    margin-right: %;
    margin-left: 4%;
    margin-right: 2%;
//    position: absolute;
//    left: 20px;
    li {
      cursor: pointer;
      float: left;
      width: 29%;
      height: 109px;//90px;
      margin-bottom: 1%;
      margin-right: 2%;
      overflow: hidden;
      img {
        width: 150%;
        margin-left: -30px;
      }
    }
  }
  .preview-block {
    display: inline-block;
    vertical-align: top;
    width: 53%;
    height: 335px;
    right: 28px;
    overflow: hidden;
    background-color: #e0e0e0;
    img {
      width: 100%;
    }
  }
}

.form-style {
//  width: 19%;
  height: 20px;
  text-align: right;
//  margin-left: 70%;
}