.preview {
  h2 {
    text-align: center;
  }
}
.card-preview {
  width: 48%;
  display: inline-block;
}
.card-view {
  overflow: hidden;
  height: 300px;
  background-color: #696969;

}
.card-face {
  img {
    width: 100%;
  }
}

.card-back {
  margin-left: 3%;
  .card-view {
    height: 260px;
  }
  .sign {
    height: 27.5%;
    width: 56.6%;
    margin-left: 42.3%;
  }
  .file {
    height: 11.3%;
    padding: 2px;
    overflow: hidden;
    width: 17.7%;
    img {
      width: 100%;
    }
  }
  span {
    float: right;
  }
}

.envelope {
  .card-preview;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}