.preview {
  h2 {
    text-align: center;
  }
}
.card-preview {
  width: 48%;
  display: inline-block;
}
.card-view {
  overflow: hidden;
  height: 300px;
  background-color: #696969;

}
.card-face {
  img {
    width: 100%;
  }
}

.card-back {
  margin-left: 3%;
  .card-view {
    height: 260px;
  }
  .sign {
    height: 27.5%;
    width: 56.6%;
    margin-left: 42.3%;
  }
  .file {
    height: 13.7%;
    padding: 2px;
    overflow: hidden;
    width: 17.7%;
    img {
      width: 100%;
    }
  }
  span {
    float: right;
  }
}

.envelope {
  .card-preview;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.choose-block {
  display: inline-block;
  margin-left: 2%;
  height: 500px;
  width: 20%;
  margin-right: 2%;
  margin-top: 3%;
  h5 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .choose-picture img {
    width: 100%;
    height: 130px;
    margin-bottom: 11px;
  }
}
.big-preview {
  width: 75%;
  height: 490px;
  //background-color: red;
  margin-top: 1%;
  float:right;
  .big-picture img{
    width: 100%;
    text-align: center;
  }
  h4 {
    font-size: 25px;
    float:right;
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
  }
  .big-back-picture-structure, .big-destination-card-structure {
//    background-color: black;
    height: 467px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    white-space:pre-wrap;
    border-color: #b3b3b3;
    border-width: 1px;
    border-style: solid;
    postion: relative;
  }
}
.card-back-view {
  background-color: none;
  width: 92%;
  height: 254px;
  font-size: 15px;
  font-family: PT_Sans_Regular;
  margin-left: 4%;
  margin-top: 0px;
  border-bottom-style: solid;
  border-bottom-color: #b3b3b3;
  padding-left: 1%;
  padding-right: 1%;

}
.sign-back {
  width: 34%;
  height: 150px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0%;
  padding-top: 0px;
  white-space:pre-wrap;
  position: absolute;
//  left: 0;
}
.file-logo {
  width: 160px;
  height: 150px;
  margin-right: 20px;
  position: absolute;
  top: 62%;
  right: 1%;
}
.sender-preview-block {
//  background-color: blue;

  width: 40%;
  height: 233px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  top: 19.3%;
  left: 25.1%;
  padding-left: 30px;
  padding-top: 30px;
}
.mark {
  width: 30%;
  height:233px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  top: 19.3%;
  right: 0%;
}
.big-post-code{
  width: 30%;
  height: 233px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  top: 55%;
  left: 25.1%;
  .receiver-post-code {
    margin-top: 33%;
    font-size: 70px;
    color: #313131;
    font-family: zipcode;
    padding-left: 42px;
    padding-bottom: 30px;
  }
}
.receiver-preview-block  {
  width: 40%;
  height: 233px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  top: 55%;
  right: 0%;
  white-space: normal;
  padding-right: 30px;
}
.sender-preview-block, .receiver-preview-block {
  white-space: normal;
  .block-h5 {
    color: darkgrey;
    margin-right: 0px;
  }
  .sender-text {
    font-size: 20px;
    color: darkslateblue;
    text-decoration: underline;
  }
  .sender-code {
    font-size: 23px;
    color: #313131;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 3px;
    width: 25%;
    text-align: center;
    float:right;
  }
}