.content_block
{
  width: 500px;
  margin-left: auto;
  margin-right : auto;
  margin-top: 50px;
  text-align: center;
}
//#send_message h1
//{
//  font-size: 25px;
//  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
//  font-style: italic;
//  margin-bottom: 20px;
//}

.head-main {
  font-family: Nautilus;
  color: #ffa112;
  font-size: 25px;
}

.send_logo {
  overflow: hidden;
}
#picture_send_logo
{
  margin-left: -30px;
  img {
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }

}
#registration_button
{
//  width: 340px;
//  height: 30px;
//  font-size: 20px;
//  color: #ffffff;
//  margin-bottom: 10px;
}
#message_take_email
{
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
