%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title Отправлено
    %meta{:content => "main", :name => "layout"}
  %body
    / Declare variable
    - pass = 'пароль'
    - mail = 'mail'
    - send_reg = 'отправить'
    .container
      .content_block
        #send_message
          %h1 Ваша открытка будет доставлена в течение недели
        .send_logo
          %img{:id => 'picture_send_logo', :src => '/CardsProject/assets/send_step/airoplane.png'}
        .subscribe_block
          %a{:href => "#"}
        %g:link.button.button-subscribe{:action => "toStart"} Поделиться
        %img{:src => '/CardsProject/assets/send_step/facebook.png'}
        %g:link.button.button-new{:action => "toStart"} Создать еще открытку
        %g:link.button.button-main{:action => "toMainPage"} Вернуться на главную страничку


